.search-bar {
  text-align: center;
  margin: 20px 0 25px 0;
  padding: 0; }

.search-bar input {
  width: 100%;
  border-radius: 0;
  border: 1px solid;
  background: #575c63;
  display: block;
  padding: 5px 15px;
  color: #fff; }

.list-group {
  padding: 0 0 0 20px;
  margin-bottom: 50px; }

.list-group-item {
  cursor: pointer;
  display: block;
  background: #23262b;
  border: 1px solid #575c63;
  color: #fff;
  transition: background 0.5s; }
  .list-group-item:first-child, .list-group-item:last-child {
    border-radius: 0; }
  .list-group-item .media-left {
    display: block; }
  .list-group-item .media-object {
    display: block;
    margin: 5px auto; }

.list-group-item:hover {
  background: #575c63; }

.video-detail {
  padding: 0;
  border: 1px solid #575c63; }

.video-detail .details {
  padding: 20px;
  margin-top: 0;
  border: none;
  border-radius: 0;
  color: #fff;
  background: #23262b; }
  .video-detail .details .name {
    font-weight: bold;
    font-size: 20px; }
  .video-detail .details .description {
    font-size: 14px;
    color: #575c63; }

body {
  background: #23262b; }
