$background-dark: #23262b;
$background-light: #575c63;
$border-color-dark: #000;
$border-color-light: #7c828c;
$font-color: #fff;

@import 'scss/search-bar';
@import 'scss/list';
@import 'scss/details';




body {
  background: $background-dark;
}
